*.py[cod]

# C extensions
*.so

# sqlite3 db files
*.db

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# xlib logs
xlibsyslog

# Unit test / coverage reports
.coverage
htmlcov
.tox
nosetests.xml
.cache

# intellij
.idea
*.iml

# virtualenv
env

# FIXME: Find a better place for test.conf
test.conf

.DS_Store

# notebook
.ipynb_checkpoints
test*.ipynb


# cython generated
odps/src/*/*_c.c
odps/tunnel/pb/*_c.c