recursive-include odps/static *.*
prune odps/static/ui/node_modules
include requirements.txt
global-include odps/**/*.yml
include odps/mars_extension/oscar/deploy/logging.conf
global-include *.pyx
global-include *.pxd
include odps/src/crc32.c
include odps/src/utils.h
include misc/stdint.h
global-exclude *_c.c*
