recursive-include odps/static *.*
recursive-include odps/internal/static *.*
prune odps/static/ui/node_modules
include requirements.txt
global-include *.pyx
global-include *.pxd
include odps/src/crc32.c
include odps/src/utils.h
include misc/stdint.h
global-exclude *_c.c*
